{% extends '@venteachat/index.html.twig' %}
{%block title %}Panier {% endblock %}
    {% set totalHT = 0 %}
    {% set totalTTC = 0 %}
    {% block body %}
        <div class="container pan">
            <div class="row">
                <div class="span9">  
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped ">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Quantité</th>
                                        <th>Prix unitaire</th>
                                        <th>Total HT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if produits|length == 0 %}
                                        <tr>
                                            <td colspan="4">Aucun articles dans votre panier</td>
                                        </tr>
                                    {% endif %}
                                    {% for produit in produits %}
                                        <tr>
                                    <form action="{{ path('ajouter', { 'id' : produit.id }) }}" method="get">
                                        <td>{{ produit.nom }}</td>
                                        <td>
                                            <select name="qte" class="span1" onchange="this.form.submit()">
                                                {% for i in 1..50 %}
                                                    <option value="{{ i }}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                                {% endfor %}
                                            </select>&nbsp;
                                        </td>
                                        <td>{{ produit.prix }} €</td>
                                        <td>{{ produit.prix * panier[produit.id] }}€</td>
                                    </form>
                                    <td><a href="{{path('supprimer',{'id':produit.id} )}}"><button class="btn-primary" style="margin-left:37px;margin-right:-37px;padding: 10px;">Delete Panier</button></td>
                                    </tr>
                                    {% set totalHT = totalHT + (produit.prix * panier[produit.id]) %}
                                {% endfor %}
                                </tbody>
                            </table>
                            {% if produits|length != 0 %}
                                <dl class="dl-horizontal pull-right">
                                    <dt>Total HT :</dt>
                                    <dd>{{ totalHT }} €</dd>
                                </dl>
                                <div class="clearfix"></div>
                            {% endif %}
                        </div>
                    </div><!--end of .table-responsive-->
                </div>
            </div>
        </div>
    {% endblock %}
